doctype 5
html(lang="en")
  head
    title=title
          
  body
    h1 Baboon
    #container
      p 
    .canvas_container
        canvas#canvas_baboon(width="500px",height="100px")    
              
          
        
