doctype 5
html(lang="en")
  head
    meta(charset='UTF-8')
    script(src='/socket.io/socket.io.js')
    script(src='/scripts/draw.js')    
        
    title Baboon
          
  body
    h1 Baboon
    #container
      p 
    .canvas_container
        canvas#canvasBaboon(width="500px",height="350px")       
     form
      input#cleanButton(type='button', value='Limpiar')                         